<div class="container pb-6">
  <h2 class="pt-2">Découvrir</h2>
  <p>Comme la Bons Voeux, des blondes :</p>
  <div class="recommendation-row pt-3">
    <% @gold_beers.each do |beer| %>
      <div class="recommendation-card">
        <%= link_to beer_path(beer) do %>
          <%= image_tag beer.url_image %>
          <h5><%= beer.name %></h5>
          <p><%= beer.brewery %></p>
        <% end %>
      </div>
    <% end %>
  </div>
  <p>Des sucrées, comme la Silly Pils :</p>
  <div class="recommendation-row pt-3">
    <% @gold_beers.each do |beer| %>
      <div class="recommendation-card">
        <%= link_to beer_path(beer) do %>
          <%= image_tag beer.url_image %>
          <h5><%= beer.name %></h5>
          <p><%= beer.brewery %></p>
        <% end %>
      </div>
    <% end %>
  </div>
</div>
