<div class="row col-12">
  <h2 class="reco-title">Découvrir</h2>
  <p class="reco-description">Mes suggestions se basent sur les saveurs des bières dans ta cave</p>
</div>


<% if @first_tag.present? %>
  <h5 class="row-title">T'es branché <em><%= @first_tag %> non ?</em></h5>
  <% @second_reco_beers.each do |beer| %>
    <div class="card-discover">
      <div class="card-discover-titles">
        <h2><%= beer.name %></h2>
        <h4><%= beer.brewery %></h4>
      </div>
      <div class="discover-info">
        <%= image_tag beer.url_image %>
        <div class="tags-container">
          <div class="discover-tags">
            <ul>
              <li><span><%=beer.style%></span></li>
              <li><span><%=beer.alcohol_percentage%></span></li>
              <li><span><%= beer.flavours.first.name %></span></li>
            </ul>
          </div>
          <h4 id='en-savoir-plus'>en savoir plus ></h4>
        </div>
      </div>
    </div>
  <% end %>
<% else %>
  <p>Je n'ai pas de recommendation pour l'instant. Rajoute de nouvelles bières à ta cave que je puisse t'aider ! </p>
<% end %>
