<!-- <div class="row col-12">
  <h2 class="discover-reco-title">Découvrir</h2>
  <p class="discover-reco-description">Mes suggestions se basent sur les saveurs des bières dans ta cave</p>
</div>
 -->
<div class="biernard-bubble">
  <%= link_to root_path do %>
    <%= image_tag "https://media.biernard.com/iw/br/_next/static/images/biernard-bierologue-digital-350-b0900e88fe20250cdceebcaf9b0a202e.png", alt: "Biernard - Biérologue Digital" %>
  <% end %>
  <div class="speech-bubble">
    <p>Mes <strong>suggestions</strong> se basent sur les saveurs des bières de ta cave.</p>
  </div>
</div>
<hr align="center" width="50%">
<% if @first_tag.present? %>
  <h5 class="discover-row-title">T'es branché <span><%= @first_tag %></span> non ?</h5>
  <div class="discover-row-reco">
    <% @first_reco_beers.each do |beer| %>
      <div class="card-discover">
        <div class="card-discover-titles">
          <h2><%= beer.name %></h2>
          <h4><%= beer.brewery %></h4>
        </div>
        <div class="discover-info">
          <%= image_tag beer.url_image %>
          <div class="tags-container">
            <div class="discover-tags">
              <ul>
                <li><span><%=beer.style%></span></li>
                <li><span><%=beer.alcohol_percentage%>°</span></li>
                <li><span><%= beer.flavours.first.name.capitalize %></span></li>
              </ul>
            </div>
            <h4 id='en-savoir-plus'>en savoir plus ></h4>
          </div>
        </div>
        <%= link_to "", beer_path(beer) %>
      </div>
    <% end %>
  </div>
<% else %>
  <p>Je n'ai pas de recommendation pour l'instant. Rajoute de nouvelles bières à ta cave que je puisse t'aider ! </p>
<% end %>
<% if @second_tag.present? %>
  <h5 class="discover-row-title">Une pointe de <span><%= @second_tag %></span> ?</h5>
  <div class="discover-row-reco">
    <% @second_reco_beers.each do |beer| %>
      <div class="card-discover">
        <div class="card-discover-titles">
          <h2><%= beer.name %></h2>
          <h4><%= beer.brewery %></h4>
        </div>
        <div class="discover-info">
          <%= image_tag beer.url_image %>
          <div class="tags-container">
            <div class="discover-tags">
              <ul>
                <li><span><%=beer.style%></span></li>
                <li><span><%=beer.alcohol_percentage%>°</span></li>
                <li><span><%= beer.flavours.first.name.capitalize%></span></li>
              </ul>
            </div>
            <h4 id='en-savoir-plus'>en savoir plus ></h4>
          </div>
        </div>
        <%= link_to "", beer_path(beer) %>
      </div>
    <% end %>
  </div>
<% else %>
  <p>Rajoute d'autres bières à ta cave pour avoir d'avantage de recommendations. </p>
<% end %>
<% if @third_tag.present? %>
  <h5 class="discover-row-title">Si je te dis <span><%= @third_tag %></span> ?</h5>
  <div class="discover-row-reco">
    <% @third_reco_beers.each do |beer| %>
      <div class="card-discover">
        <div class="card-discover-titles">
          <h2><%= beer.name %></h2>
          <h4><%= beer.brewery %></h4>
        </div>
        <div class="discover-info">
          <%= image_tag beer.url_image %>
          <div class="tags-container">
            <div class="discover-tags">
              <ul>
                <li><span><%=beer.style%></span></li>
                <li><span><%=beer.alcohol_percentage%>°</span></li>
                <li><span><%= beer.flavours.first.name.capitalize %></span></li>
              </ul>
            </div>
            <h4 id='en-savoir-plus'>en savoir plus ></h4>
          </div>
        </div>
        <%= link_to "", beer_path(beer) %>
      </div>
    <% end %>
  </div>
<% else %>
  <br>
<% end %>
