<div class="container pb-4">
  <h2 class="pt-2">Découvrir</h2>
  <h5 class="reco-title">Il semblerait que vous aimez le miel :</h5>
  <div class="recommendation-row">
    <% @first_reco_beers.each do |beer| %>
      <div class="recommendation-card">
          <%= link_to beer_path(beer) do %>
            <%= image_tag beer.url_image %>
            <h5><%= beer.name %></h5>
            <p><%= beer.brewery %></p>
          <% end %>
      </div>
    <% end %>
  </div>
  <h5 class="reco-title">Il nous semble que vous aimez le malt :</h5>
  <div class="recommendation-row">
    <% @second_reco_beers.each do |beer| %>
      <div class="recommendation-card">
          <%= link_to beer_path(beer) do %>
            <%= image_tag beer.url_image %>
            <h5><%= beer.name %></h5>
            <p><%= beer.brewery %></p>
          <% end %>
      </div>
    <% end %>
  </div>
  <h5 class="reco-title">Une touche de walut pour finir :</h5>
  <div class="recommendation-row">
    <% @third_reco_beers.each do |beer| %>
      <div class="recommendation-card">
          <%= link_to beer_path(beer) do %>
            <%= image_tag beer.url_image %>
            <h5><%= beer.name %></h5>
            <p><%= beer.brewery %></p>
          <% end %>
      </div>
    <% end %>
  </div>
</div>
