<div class="container pb-2">
  <h2 class="pt-2">Découvrir</h2>
  <h5 class="reco-title">Comme la <em>Bons Voeux</em>, des blondes :</h5>
  <div class="recommendation-row">
    <% @gold_beers.each do |beer| %>
      <div class="recommendation-card">
        <%= link_to beer_path(beer) do %>
          <%= image_tag beer.url_image %>
          <h5><%= beer.name %></h5>
          <p><%= beer.brewery %></p>
        <% end %>
      </div>
    <% end %>
  </div>
  <h5 class="reco-title pt-4">Des sucrées, comme la <em>Silly Pils</em> :</h5>
  <div class="recommendation-row">
    <% @sweet_beers.each do |beer| %>
      <div class="recommendation-card">
        <%= link_to beer_path(beer) do %>
          <%= image_tag beer.url_image %>
          <h5><%= beer.name %></h5>
          <p><%= beer.brewery %></p>
        <% end %>
      </div>
    <% end %>
  </div>
</div>
