<div class="container pb-4">
  <h2 class="reco-title">Découvrir</h2>
  <p class="reco-description">Mes suggestions se basent sur les saveurs des bières dans ta cave</p>
  <% if @first_tag.present? %>
    <h5 class="row-title">T'es branché <em><%= @first_tag %> non ?</em></h5>
    <div class="recommendation-row">
      <% @first_reco_beers.each do |beer| %>
        <div class="recommendation-card">
            <%= link_to beer_path(beer) do %>
              <%= image_tag beer.url_image %>
              <h5><%= beer.name %></h5>
              <p><%= beer.brewery %></p>
            <% end %>
        </div>
      <% end %>
    </div>
  <% else %>
    <p>Nous n'avons rien à te proposer pour l'instant ! Rajoute de nouvelles bières à ta cave pour avoir des recommendations.</p>
  <% end %>
  <% if @second_tag.present? %>
    <h5 class="row-title">Une pointe de <em><%= @second_tag %></em> te fera playzer ?</h5>
    <div class="recommendation-row">
      <% @second_reco_beers.each do |beer| %>
        <div class="recommendation-card">
            <%= link_to beer_path(beer) do %>
              <%= image_tag beer.url_image %>
              <h5><%= beer.name %></h5>
              <p><%= beer.brewery %></p>
            <% end %>
        </div>
      <% end %>
    </div>
  <% end %>
  <% if @third_tag.present? %>
    <h5 class="row-title">Il te faut un peu de <em><%= @third_tag %></em> dans tes bières ?</h5>
    <div class="recommendation-row">
      <% @third_reco_beers.each do |beer| %>
        <div class="recommendation-card">
            <%= link_to beer_path(beer) do %>
              <%= image_tag beer.url_image %>
              <h5><%= beer.name %></h5>
              <p><%= beer.brewery %></p>
            <% end %>
        </div>
      <% end %>
    </div>
  <% end %>
</div>
