<div class="top-navbar">
  <%= link_to "#" do %>
    <i class="fas fa-arrow-left"></i>
  <% end %>
  <h3><%= @beer.name %></h3>
  <!-- <i class="far fa-heart"></i> -->
  <i class="fas fa-heart"></i>
</div>
<div class="beer-overview row">
  <div class="beer-cover col-4 d-flex justify-content-center align-items-center" style="background-image: url(https://media.biernard.com/bieres/temp/1996-13880-v4_product_img.jpg);"></div>
  <div class="beer-main-infos col-8">
    <h1><%= @beer.name %></h1>
    <p><strong>Brasserie:</strong> <span class="desc-light"><%= @beer.brewery %></span></p>
    <p><strong>Style:</strong> <span class="desc-light"><%= @beer.style %></span></p>
    <p><strong>Pays:</strong> <span class="desc-light"><%= @beer.country %></span></p>
    <p><strong>Alcool:</strong> <span class="desc-light"><%= @beer.alcohol_percentage %>°</span></p>
    <p><strong>Couleur:</strong> <span class="desc-light"><%= @beer.colour %></span></p>
  </div>
</div>
<div class="beer-details">
  <h3>Description</h3>
  <p><%= @beer.description %></p>
  <h3>Saveurs</h3>
  <p class="tags">
    <% @beer.flavours.each do |flavour| %>
      <span class="tag"><%= flavour.name.capitalize %></span>
    <% end %>
  </p>
  <h3>Caractéristiques</h3>
  <div class="d-flex justify-content-between mb-2">
    <span>Sucrosité</span>
    <div class="bar-rating-container">
      <div class="filling" style="width:<%= @beer.sweetness.fdiv(10).ceil * 10
 %>%"></div>
    </div>
  </div>
  <div class="d-flex justify-content-between mb-2">
    <span>Amertume</span>
    <div class="bar-rating-container">
      <div class="filling" style="width:<%= @beer.bitterness.fdiv(10).ceil * 10 %>%"></div>
    </div>
  </div>
  <div class="d-flex justify-content-between mb-2">
    <span>Effervescence</span>
    <div class="bar-rating-container">
      <div class="filling" style="width:<%= @beer.fizzing.fdiv(10).ceil * 10 %>%"></div>
    </div>
  </div>
  <div class="d-flex justify-content-between mb-2">
    <span>Puissance</span>
    <div class="bar-rating-container">
      <div class="filling" style="width:<%= @beer.strength.fdiv(10).ceil * 10 %>%"></div>
    </div>
  </div>
  <div class="d-flex justify-content-between mb-2">
    <span>Acidité</span>
    <div class="bar-rating-container">
      <div class="filling" style="width:<%= @beer.sourness.fdiv(10).ceil * 10 %>%"></div>
    </div>
  </div>
</div>
