<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Biernard</title>
    <%= csrf_meta_tags %>
    <%= action_cable_meta_tag %>
    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%#= stylesheet_pack_tag 'application', media: 'all' %> <!-- Uncomment if you import CSS in app/javascript/packs/application.js -->
  </head>
  <body>
    <div class="<%= "body-home" if current_page?(root_path) %>">
      <div class="<%= "container" unless current_page?(new_scan_path) %> <%= "mt-3" unless current_page?(root_path) | current_page?(new_scan_path) %> ">
        <div class="<%="row" unless current_page?(new_scan_path) %>">
          <div class="<%= "col-12" unless current_page?(new_scan_path) %>">
            <%= render 'shared/flashes' %>
            <div class="<%= "mb-6" unless current_page?(new_scan_path) %>">
              <%= yield %>
            </div>
            <% unless current_page?(root_path) | current_page?(new_scan_path) %>
            <%= render 'shared/navbar' %>
            <% end %>
          </div>
        </div>
      </div>

    </div>
    <%= javascript_include_tag 'application' %>
    <%= javascript_pack_tag 'application' %>
  </body>
</html>
